@use "../abstracts/mixins";
@use "../abstracts/variables";

.arrivals__wrapper {
  padding-left: variables.$space-lg;
  @include mixins.from-desktop {
    border-bottom: 0.1rem solid variables.$color-border-gray;
    max-width: variables.$container-width;
    margin: 0 auto;
  }
}

.arrivals {
  padding: 5rem 1.6rem;

  &__title {
    font-family: variables.$font-display;
    font-size: variables.$fs-2xl;
    font-weight: variables.$fw-bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: variables.$space-3xl;

    @include mixins.from-desktop {
      font-size: variables.$space-5xl;
      margin-bottom: 5.5rem;
    }
  }

  &__list {
    display: flex;
    gap: variables.$space-lg;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    margin: 0 -1.6rem;
    padding: 0 1.6rem 1.6rem; 

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @include mixins.from-desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: variables.$space-xl;
      overflow: visible;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    flex: 0 0 auto;
    width: 70%;
    max-width: 28rem;
    scroll-snap-align: start;

    @include mixins.from-desktop {
      width: auto;
      max-width: none;
    }
  }
  &__view-all {
    display: block;
    width: 100%;
    margin-top: variables.$space-2xl;
    text-align: center;
    background-color: variables.$color-bg;
    border: 0.1rem solid variables.$color-border-gray;
    border-radius: 6.2rem;
    padding: 1.6rem 5.4rem;

    span {
      font-weight: variables.$fw-medium;
      font-size: 1.4rem;
      color: variables.$color-text;
    }

    @include mixins.from-desktop {
      width: fit-content; 
      min-width: 21rem;
      margin: 4rem auto 6.4rem; 
    }
  }
}

.product-card {
  display: block;

  &__image {
    background-color: variables.$color-bg-img;
    border-radius: variables.$radius-border;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: variables.$space-md;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    font-size: clamp(1.6rem, 1.46rem + 0.38vw, 2rem);
    font-weight: variables.$fw-bold;
    margin-bottom: 0.6rem;

  }

  &__price {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-current,
    &-old {
      font-size: clamp(2rem, 1.86rem + 0.38vw, 2.4rem);
      font-weight: variables.$fw-bold;

    }

    &-old {
      font-weight: variables.$fw-bold;
      color: variables.$color-old-numer;
      text-decoration: line-through;

    }

    &-discount {
      font-size: variables.$fs-xs;
      font-weight: variables.$fw-medium;
      color: variables.$color-discount;
      background-color: variables.$color-bg-discount;
      padding: 0.4rem 1rem;
      border-radius: variables.$radius-pill;
    }
  }
}
