@use "../abstracts/mixins";
@use "../abstracts/variables";

.partners {
  background-color: variables.$color-text;
  padding: 2.8rem 1.6rem;

  .partners-list {
    @include mixins.flex-center;
    flex-wrap: wrap;
    gap: 2.4rem 3.2rem;

    li {
      @include mixins.flex-center;

      img {
        max-height: variables.$space-2xl;
        width: auto;
        object-fit: contain;
      }
    }
  }

  @include mixins.from-desktop {
    padding: 3.2rem 1.6rem;

    .partners-list {
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: variables.$space-4xl;
      max-width: variables.$container-width;
      margin: 0 auto;

      li img {
        max-height: variables.$fs-mobile-lg;
      }
    }
  }
}
